body {
  background-color: skyblue;
  color: darkblue;
}

p {
  padding: 0.7em;
}
p:hover {
  cursor: pointer;
  background:rgba(255,255,255,0.3);
}

p:nth-child(even) {
  background:rgba(255,255,255,0.6);
}

/* p:nth-child(odd) {
  background:rgba(255,255,255,0.8);
} */

h1 {
  border-bottom: 1px solid white;
  text-align: center;
  width: 60%;
}
      
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  display: grid;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 400px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
